body {
    font-family: Calibri, sans-serif;
    margin: 0;
}

.navbar {
    background-color: #0f1b9f;
}

.hero-section, .features-section {
    height: 500px;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.hero-section h1, .features-section h2 {
    font-weight: bold;
}

.hero-section p, .features-section p {
    font-size: 1.25rem;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.features-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

footer {
    background-color: #0f1b9f;
    color: white;
    text-align: center;
    padding: 10px 0;
}
